*{
    box-sizing:border-box;
  }
  
  
  nav .logo{
    justify-content:space-between;
    order:0;
    align-content: flex-start;
  }


.links{
  display: flex;
  flex-direction: row;
  order:-1;
}


.rechts{
  display: flex;
  flex-direction: row;
}

  nav ul{
    display:flex;
    flex-direction:row;
    list-style:none;
    align-items:center;
    justify-content: space-around;
    
   
  }

  nav ul li a{
    text-decoration: none;
    padding:10px;
  }



  /*--------Afbeeldingen----------------*/
  #photos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    
  }
  
  #photos div{
    padding:20px;
  }



  /*mobiele versie*/

  @media(max-width:600px){

    .links{
      flex-direction: column;
      margin-top: 80px;
    }
    
    
    .rechts{
      flex-direction: column;
      margin-top: 80px;
    }

    

  }
