/*mobile*/

*{
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

body{
    display:grid;
    grid-template-columns:1fr; 
    border:1px solid;
}

.QR{
    grid-column: 1/2;
}

.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hoofding{
    border:1px solid;
    background-color: rgb(0, 0, 0);
    color:white;
}

h3{
    border:1px solid;
    margin: 0px;
    padding: 10px;
}

p{
    display: none;
}

.span{
    grid-column: 1/span 2;
}



@media(min-width:600px){

body{
    grid-template-columns:3fr 1.5fr; 
    grid-template-rows: 2fr 1fr 1fr;
}


.hoofding{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr; 
}

h2{
    grid-row:1/2;
}

.QR{
    grid-column: 2/3;
    grid-row:1/4;
    align-content: center;
}

.details{
    grid-row:2/3;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

p{
    display: block;
    grid-row:3/4;
    grid-column:1/2;
    border:1px solid black;
    margin:0px;
    align-content: center;
}

.span{
    grid-column:3/4;
}








}
