*{
box-sizing:border-box;
}

nav{
    
}

nav ul{
display: flex;
align-items: flex-end;
flex-wrap: wrap;
}

nav ul .logo{
order:-1;
align-self: center;

}

  
 
#photos{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
}
  
#photos div{
    padding: 10px;
}