*{
    box-sizing:border-box;
  }
  
  nav{
    display:flex;
    flex-wrap:wrap;
  }
  
  nav .logo{
    justify-content:space-between;
    order:1;
  }
  
  nav ul li{
    display:flex;
    flex-direction:row;
    list-style:none;
  }
  
  
  #photos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    
  }
  
  #photos div{
    padding:20px;
  }